FosterAngelCPSRequestPortal/.settings/com.google.appengine.eclipse.core.prefs
FosterAngelCPSRequestPortal/war/WEB-INF/appengine-generated/datastore-indexes-auto.xml
*.bin
FosterAngelCPSRequestPortal/war/WEB-INF/lib/appengine-api-1.0-sdk-1.9.20.jar
*.jar