Hi $fname,

Your request # $reqNum  for $childName has been approved. Please refer to below delivery instructions.

$emailcontent

Be sure to provide a receipt within 30 days (by email, fax, or mail).  Please note that if receipts are not provided within a timely manner, you may be unable to make future requests for assistance (until Foster Angels receives receipts/proof of purchase). 
We do not want this to happen!  Call Foster Angels immediately if you have a problem with a receipt.

Caseworkers--not the caregivers--are responsible for transactions and purchases made with gift cards or checks.  

Thank you notes from the child(ren) are encouraged and can be emailed, mailed, or faxed to us.  Thanks for all you do!
  
   
Thanks,
Administrator
Foster Angels Of Central Texas