Dear $fname, 

You have submitted a request to the Foster Angels of Central Texas web site to create a new profile.  
In order to verify your credentials and activate the account please provide verification code  $verificationcode  after using the link below. 

Verification Code: $verificationcode

http://www.fosterangelsrequests.appspot.com/profile/verify

Thanks,
Administrator
Foster Angels Of Central Texas