Dear FACT Administrator,

 A new request has been submitted to the Foster Angels of Central Texas website.  (S)he has requested assistance for $childname.
  
   
Thanks,
Administrator
Foster Angels Of Central Texas