Dear $svrname,

  $cwfname $cwlname has submitted a request to the Foster Angels of Central Texas website.  (S)he has requested assistance for $childname.
  Please click the confirmation hyper link below to acknowledge this request. 
   
   http://www.fosterangelsrequests.appspot.com/cwrequest/svrconf/$reqkey/$svremail
   
Thanks,
Administrator
Foster Angels Of Central Texas